h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

a, p   {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul, ol{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}